/**
 * Public website css
 */
/*
     FILE ARCHIVED ON 16:10:03 Aug 29, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:22:01 Jan 30, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 104.219
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.071
  cdx.remote: 0.058
  esindex: 0.009
  LoadShardBlock: 79.313 (3)
  PetaboxLoader3.datanode: 135.786 (4)
  CDXLines.iter: 14.402 (3)
  load_resource: 216.037
  PetaboxLoader3.resolve: 65.079
*/